@import '../../styles/variables.scss';

.modal {
  position: fixed;
  background: $color-pop;
  transition: $transition-one;
  color: $color-text-alt;

  &.hidden {
    width: 0;
    height: 0;
    left: 50%;
    bottom: 0;
    border-radius: 50%;
  }

  &.visible {
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    border-radius: 0;
    padding: 60px;
  }

  &__content {
    max-width: 620px;
    margin: 0 auto;

    h2 {
      font-size: 32px;
    }

    p {
      font-size: 16px;
    }

    .settings-options {
      display: flex;

      &__item {
        width: 40px;
        text-align: center;
        cursor: pointer;
        transition: $transition-one;

        &:hover {
          opacity: 0.75;
        }
      }
    }
  }

  &__action {
    .button {
      border-radius: 50%;
      border: 2px solid $color-text-alt;
      color: $color-text-alt;
      background: $color-pop;
      width: 60px;
      height: 60px;
      position: absolute;
      bottom: 36px;
      left: 50%;
      margin-left: -44px;
      transition: $transition-one;

      i {
        font-size: 24px;
      }
    }
  }

  &.hidden {
    .modal_content {
      display: none;
    }

    .modal__action {
      .button {
        bottom: -100px;
      }
    }
  }
}
